header {
  z-index: 100;
  position: relative;
  background-color: #fff;
  @include prefixer(box-shadow, 0px -10px 30px 1px black);
  .header {
    height: 60px;
    align-items: center;
    .navbar {
      margin-bottom: 0;
      li {
        a {
          color: $grayishBlue;
          text-decoration: none;
          position: relative;
          transition: 0.3s ease 0.1s;
          &:hover {
            color: #000;
          }
          &::before {
            content: "";
            transition:width 0.3s ease 0.1s;
            height: 3px;
            width: 0%;
            position: absolute;
            bottom: -21px;
            background-color: $limeGreen;
          }
          &:hover::before {
            width: 100%;
          }
        }
      }
    }
    .megamenu {
      .list-shape {
        cursor: pointer;
        user-select: none;
        img:first-child {
          display: block;
        }
        img:last-child {
          display: none;
        }
      }
      .menu {
        display: none;
        position: absolute;
        background-color: #fff;
        z-index: 999;
        top: 90px;
        width: calc(100% - 30px);
        padding: 10px 0;
        margin-left: auto;
        margin-right: auto;
        @include prefixer(box-shadow, 0px 0px 40px 1px rgba(0, 0, 0, 0.367));
        li {
          text-align: center;
          padding: 5px;
          a { 
            text-decoration: none;
            color: #000;
            font-weight: $fontM;
          }
        }
      }
    }
  }
}